name: C/C++ CI

on:
  push:
    branches: [ "SAM-V70/71-Port", "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    # strategy:
    #   matrix:
    #     node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    # - uses: actions/checkout@v4
    # - name: Use Node.js ${{ matrix.node-version }}
    #   uses: actions/setup-node@v4
    #   with:
    #     node-version: ${{ matrix.node-version }}
    #     cache: 'npm'
    # - run: npm ci
    # - run: npm run build --if-present
    # - run: npm test
    
    - uses: actions/checkout@v4
    # - name: configure
    #   run: ./configure
    - name: make
      run: make BOARD=metro_m0
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
